<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    输入ip的跳转主页界面-->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
<!--    -->
    <servlet>
        <servlet-name>allServlet</servlet-name>
        <servlet-class>Servlet.AllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allServlet</servlet-name>
        <url-pattern>/AllServlet</url-pattern>
    </servlet-mapping>
<!--   权限访问过滤器-->
    <filter>
        <filter-name>limitsFilter</filter-name>
        <filter-class>filter.LimitsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>limitsFilter</filter-name>
        <url-pattern>/*</url-pattern>
<!--        <url-pattern>/</url-pattern>-->
    </filter-mapping>
</web-app>